html,
body {
  padding: 0;
  margin: 0;
  background-color: #1e2021;
}

h1 {
  font-size: 2rem;
}

p {
  /* text-align: center; */
}


/* About and picture */
.about {
  min-height: 400px;
  padding: 20px;
  margin: 20px 10px;
}

.mypic {
  min-height: 400px;
  background-image: url(img/tree5.jpg);
  margin: 20px 10px;
  background-size: contain;
}

/* Staff picture boxes */

.staff {
  min-height: 200px;
  background-color: tomato;
  margin: 20px 10px;
  padding: 20px;
}

.card {
  margin: 10px 10px;
  padding: 20px;
  border: none;
}

/* footer */

.footer {
  background: #152f4f;
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.fa-phone {
  color: #2a9c33;
  font-size: 1rem;
  margin: 10px;
}

.fab {
  color: #3b5998;
}

.fa-envelope-open-text{
  color: red;
}








/* footer */

#site-content {
  min-height: 100%;
  min-height: 100vh;
  padding-top: 35px;
  position: relative;
  z-index: 1;
  padding-right: 10px;
  padding-left: 10px;

  -webkit-box-shadow: #000 0 7px 35px 0;
  -moz-box-shadow: #000 0 7px 35px 0;
  box-shadow: #000 0 7px 35px 0;
}

#site-footer {
  padding-top: 5px;
  font-size: 85%;
  /* padding-left: 50px; */
  /* background-color: #020202; */
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}





#site-footer {
  min-height: 20vw;
  /* DID THIS SO YOU CAN SEE IT AUTOMATICALLY SCALE - SIMULATION RESPONSIVENESS */
  /* RESIZE THE WINDOW AND THEN SCROLL VERITCALLY AGAIN */
  /* background-size: cover; */
  /* background-position: center; */
  color: white;
  background-color: #f69679;
}

#site-footer a {
  color: white;
}

/* hide info in footer */
#conshowmob{
  display: none;
  
}

/* Burger menu */

.fas{
margin-bottom: -40px;
}

.contactfoot{
padding-right: 40px;
}

.contactfoot p {
  margin: auto;
}

iframe {
  width: 95%;
}

.mob-wrapper {
  display: none;
}

/* Burger menu off */
#burger, #links, #quit {
  display: none;
}



.maps2 {
  display: none;
}


/* Staff cards */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 #f69679;
}

/* Add some padding inside the card container */
.staffcontainer {
  padding: 2px 16px;
}



/* Tablet and below */

@media (max-width: 700px) {

  .data-aos {
    display: none;
  }

.contactfoot {
  padding-left: 40px;

}

.map{
  padding-left: 20px;
}

iframe{
/* padding-left: 20px; */
  width: 95%;
}

.mob-wrapper {
  display: block;
  /* margin-bottom: 10px; */
position: fixed;
}

.mob-nav {
  display: none;
  /* position: inherit; */
  position: absolute;
  padding-top: 10px;
}

#site-footer{

}

#conhide{
  display: none;
}

#conshowmob{
  display: inline;
}


 #burger{
   display: block;
 }

#burger{
  position: fixed;
  right: 0;
  top: 0;
  color: rgb(0, 0, 0);
  background:  #f69679;
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
}

#quit{
  position: fixed;
  top: 0;
  color: rgb(0, 0, 0);
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}

#links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 25vh 0;
  justify-content: space-around;
  position: fixed;
margin-top: 300px;
padding-right: 80px;
  color: white;
}

#links a{
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2em;
  font-family: 'Roboto';
  z-index: 10;
}

}

@media (max-width: 425px) {



}


/* snall mobile */
@media (max-width: 425px) {

  .mobhide{
    display: none;
  }

  .maps2 {
    display: block;
  }
}